@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.eot');
    src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
         url($font-file+'.woff') format('woff'),
         url($font-file+'.ttf') format('truetype'),
         url($font-file+'.svg#'+$font-family) format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

// Fonts
@include font('runescape', '/css/fonts/runescape/runescape');
@include font('runescape-large', '/css/fonts/runescape-large/runescape-large');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.alert-danger {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.pixel {
    image-rendering: pixelated;
}

.button-rectangle {
    width: 15rem;
    height: 5rem;
}

.button-rectangle-small {
    width: 6rem;
    height: 3rem;
}

.button-square {
    width: 6.5rem;
    height: 6.5rem;
}

.button-with-icon {
    width: 12.5rem;
    height: 5rem;
}

.button-small {
    width: 70px;
    height: 30px;
    padding: 2px;
    margin: 2px;
}

.icon {
    width: 72px;
    height: 64px;
    object-fit: contain;
}

.icon-small {
    width: 36px;
    height: 32px;
    object-fit: contain;
}

.broadcast-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.hiscore-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.hiscore-icon-small {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.bg-admin-primary {
  background-color: $admin-primary;
}

.bg-admin-secondary {
  background-color: $admin-secondary;
}

.bg-admin-info {
  background-color: $admin-info;
}

.bg-admin-dark {
  background-color: $admin-dark;
}
