@font-face {
	font-family: 'runescape';
	src: url('fonts/runescape/runescape.eot');
	src: url('fonts/runescape/runescape.eot?#iefix') format('embedded-opentype'),
	url('fonts/runescape/runescape.woff') format('woff'),
	url('fonts/runescape/runescape.ttf') format('truetype'),
	url('fonts/runescape/runescape.svg') format('svg');
}

body, html {
	font-family: sans-serif;
	background: url('/images/background_2.png') no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

h1, h2, h3 {
	font-family: "runescape", sans-serif;
	text-align: center;
	font-weight: bold;
	/*color: #947bb7;*/
}

h2, h3 {
	text-align: left;
}

.top {
	background: url('/images/scroll_top.gif');
	width: 765px;
	height: 50px;
	z-index: 1;
}

.main-page {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	width: 745px;
	word-wrap: break-word;
	background: url(/images/scroll_middle.gif);
	background-clip: border-box;
	background-repeat: repeat-y;
	margin-top: -25px;
	margin-bottom: -25px;
}

.main-page-header {
	margin: 0 auto;
	margin-top: 30px;
	padding: 0 15px 0 15px;
	width: 90%;
	background: #99855D;
	border: solid #755B41 3px;
	border-radius: 5px;
}

.main-page-body {
	margin: 0 auto;
	width: 100%;
	padding: 25px 25px 75px 25px;
}

.bottom {
	background: url('/images/scroll_bottom.gif');
	width: 765px;
	height: 50px;
	z-index: 1;
}

.member-body {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.member-box {
	background: url('/images/button.gif') no-repeat;
	background-position: center;
	padding: 10px 5px 0px 5px;
	width: 152px;
	height: 126px;
	margin-top: 10px;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	transition: width .5s, height .5s, padding .5s;
}

.member-box:hover {
	width: 172px;
	height: 146px;
	padding: 20px 5px 0px 5px;
}

.pixel {
	image-rendering: pixelated;
}

.profile-icon {
	background: #99855D;
	border: solid #755B41 3px;
	border-radius: 5px;
	padding: 5px 5px 5px 15px;
	text-align: center;
	float: left;
}

.profile-icon span {
	padding-right: 10px;
}

.icon-radio [type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.icon-radio [type=radio] + img {
	cursor: pointer;
	padding: 8px 8px 8px 8px;
}

.icon-radio [type=radio] + img:hover {
	background: #99855D;
	border-radius: 5px;
}

.icon-radio [type=radio]:checked + img {
	background: #99855D;
	border: solid #755B41 3px;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
}

.task-progress-body {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.task-body {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}

.task-box {
	background: #99855D;
	border: solid #755B41 3px;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	transition: padding .5s;
}

table {
	border-collapse: collapse;
	width: 100%;
	transition: all .2s ease-in;
}

table td, table th {
	padding: 3px 5px;
	border-bottom: 1px solid black;
	min-width: 3rem;
	height: 55px;
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
}