@font-face
{
    font-family: 'runescape';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/runescape/runescape.eot');
    src: url('fonts/runescape/runescape.eot?#iefix') format('embedded-opentype'),
    url('fonts/runescape/runescape.woff') format('woff'),
    url('fonts/runescape/runescape.ttf') format('truetype'),
    url('fonts/runescape/runescape.svg#runescape') format('svg');
    font-display: swap;
}

@font-face
{
    font-family: 'runescape-large';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/runescape-large/runescape-large.eot');
    src: url('fonts/runescape-large/runescape-large.eot?#iefix') format('embedded-opentype'),
    url('fonts/runescape-large/runescape-large.woff') format('woff'),
    url('fonts/runescape-large/runescape-large.ttf') format('truetype'),
    url('fonts/runescape-large/runescape-large.svg#runescape-large') format('svg');
    font-display: swap;
}

body,
html
{
    font-family: sans-serif;

    background: url('/images/background_3.png') no-repeat;
    background-color: gray;
    background-attachment: fixed;
    background-position: center center;
}

h1,
h2,
h3
{
    font-family: 'runescape-large', sans-serif;
}

h1
{
    font-size: 4rem !important;
}

h2
{
    font-size: 3rem !important;
}

h3
{
    font-size: 2rem !important;
}

table
{
    width: 100%;

    border-collapse: collapse;
}

table td,
table th
{
    min-width: 3rem;
    height: 55px;
    padding: 3px 5px;

    border-bottom: 1px solid black;
}

table th
{
    padding-top: 12px;
    padding-bottom: 12px;

    text-align: left;
}

.runescape
{
    font-family: 'runescape', sans-serif;
}

.runescape-normal
{
    font-family: 'runescape', sans-serif;
    font-weight: bold;

    color: #b47224;
    text-shadow: 2px 2px #343a40;
}

.runescape-progress
{
    font-family: 'runescape', sans-serif;
    font-weight: bold;

    color: #efef00;
    text-shadow: 2px 2px #343a40;
}

.runescape-success
{
    font-family: 'runescape', sans-serif;
    font-weight: bold;

    color: #08b108;
    text-shadow: 2px 2px #343a40;
}

.runescape-danger
{
    font-family: 'runescape', sans-serif;
    font-weight: bold;

    color: #d30202;
    text-shadow: 2px 2px #343a40;
}

.runescape-large
{
    font-family: 'runescape-large', sans-serif;
}

.font-small
{
    font-size: 1rem !important;
}

.font-medium
{
    font-size: 2rem !important;
}

.font-big
{
    font-size: 3rem !important;
}

.nav-link
{
    transition: all .2s ease-in;
}

.nav-link:hover
{
    padding-left: 1rem;

    transition: all .2s ease-in;

    background-color: rgb(0, 0, 0, .25);
}

.pixel
{
    image-rendering: pixelated;
}

.dropdown-bank-tag-down-arrow
{
    width: 2.5rem;
    height: 2.5rem;

    transition: all .2s ease-in;

    background: url('/resource-packs/pack-osrs-dark/bank/tag_down_arrow.png') no-repeat;
    background-position: center center;
    background-size: contain !important;
}

.header-chatbox-sword:after
{
    display: block;

    max-width: 10rem;
    height: 1rem;
    margin: auto;

    content: '';

    background: url('/resource-packs/pack-osrs-dark/chatbox/sword_pointed_left.png') no-repeat,
    url('/resource-packs/pack-osrs-dark/options/round_check_box.png') no-repeat,
    url('/resource-packs/pack-osrs-dark/chatbox/sword_pointed_right.png') no-repeat;
    background-position: left,
    center,
    right;
}

.button-combat-style-thin
{
    font-family: 'runescape', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 4rem;

    transition: all .2s ease-in;

    color: #cbcbcb;
    background: url('/resource-packs/pack-osrs-dark/button/combat_style_thin.png') no-repeat;
    background-position: center center;
    background-size: contain !important;

    image-rendering: pixelated;
}

.button-combat-style-thin:hover
{
    transition: all .2s ease-in;

    background: url('/resource-packs/pack-osrs-dark/button/combat_style_thin_selected.png') no-repeat;
    background-position: center center;
}

.button-combat-style-narrow
{
    font-family: 'runescape', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 4rem;

    transition: all .2s ease-in;

    color: #cbcbcb;
    background: url('/resource-packs/pack-osrs-dark/button/combat_style_narrow.png') no-repeat;
    background-position: center center;
    background-size: contain !important;

    image-rendering: pixelated;
}

.button-combat-style-narrow:hover
{
    transition: all .2s ease-in;

    background: url('/resource-packs/pack-osrs-dark/button/combat_style_narrow_selected.png') no-repeat;
    background-position: center center;
}

.background-dialog-panel
{
    background: url('/resource-packs/pack-osrs-dark/dialog/bottom_line_mode_side_panel_corner_top_left.png') no-repeat, /* top left */
    url('/resource-packs/pack-osrs-dark/dialog/bottom_line_mode_side_panel_corner_top_right.png') no-repeat, /* top right */
    url('/resource-packs/pack-osrs-dark/dialog/bottom_line_mode_side_panel_corner_bottom_left.png') no-repeat, /* bottom left */
    url('/resource-packs/pack-osrs-dark/dialog/bottom_line_mode_side_panel_corner_bottom_right.png') no-repeat,  /* bottom right */
    url('/resource-packs/pack-osrs-dark/dialog/bottom_line_mode_side_panel_edge_top.png') repeat-x, /* top */
    url('/resource-packs/pack-osrs-dark/dialog/bottom_line_mode_side_panel_edge_left.png') repeat-y, /* left */
    url('/resource-packs/pack-osrs-dark/dialog/bottom_line_mode_side_panel_edge_right.png') repeat-y, /* right */
    url('/resource-packs/pack-osrs-dark/dialog/bottom_line_mode_side_panel_edge_bottom.png') repeat-x, /* bottom */
    url('/resource-packs/pack-osrs-dark/dialog/background.png'); /* body */
    background-position: top left,
    top right,
    bottom left,
    bottom right,
    top -13px left,
    left -13px top 10px,
    right,
    bottom,
    center;
}

.background-dialog-iron-rivets
{
    background: url('/resource-packs/pack-osrs-dark/dialog/iron_rivets_corner_top_left.png') no-repeat, /* top left */
    url('/resource-packs/pack-osrs-dark/dialog/iron_rivets_corner_top_right.png') no-repeat, /* top right */
    url('/resource-packs/pack-osrs-dark/dialog/iron_rivets_corner_bottom_left.png') no-repeat, /* bottom left */
    url('/resource-packs/pack-osrs-dark/dialog/iron_rivets_corner_bottom_right.png') no-repeat,  /* bottom right */
    url('/resource-packs/pack-osrs-dark/dialog/iron_rivets_edge_top.png') repeat-x, /* top */
    url('/resource-packs/pack-osrs-dark/dialog/iron_rivets_vertical.png') repeat-y, /* left */
    url('/resource-packs/pack-osrs-dark/dialog/iron_rivets_edge_right.png') repeat-y, /* right */
    url('/resource-packs/pack-osrs-dark/dialog/iron_rivets_bottom.png') repeat-x, /* bottom */
    url('/resource-packs/pack-osrs-dark/dialog/background.png'); /* body */
    background-position: top left,
    top right,
    bottom left,
    bottom right,
    top -15px left,
    left -15px top 10px,
    right,
    bottom -15px left,
    center;
}

.button-enter-wilderness-teleport
{
    font-family: 'runescape', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 4rem;

    transition: all .2s ease-in;

    color: #cbcbcb;
    background: url('/resource-packs/pack-osrs-dark/button/enter_wilderness_teleport.png') no-repeat;
    background-position: center center;
    background-size: contain !important;

    image-rendering: pixelated;
}

.button-enter-wilderness-teleport:hover
{
    transition: all .2s ease-in;

    background: url('/resource-packs/pack-osrs-dark/button/enter_wilderness_teleport_hovered.png') no-repeat;
    background-position: center center;
}

.button-window-close
{
    background: url('/resource-packs/pack-osrs-dark/button/bottom_line_mode_window_close.png') no-repeat;
    background-position: center center;
    background-size: contain !important;

    image-rendering: pixelated;
}

.button-window-close:hover
{
    background: url('/resource-packs/pack-osrs-dark/button/bottom_line_mode_window_close_hovered.png') no-repeat;
    background-position: center center;
}

.background-world-map
{
    font-family: 'runescape', sans-serif;
    font-size: 1.5em;
    font-weight: bold;

    transition: all .2s ease-in;

    color: #cbcbcb;
    background: url('/resource-packs/pack-osrs-dark/button/world_map_metal_corner_top_left.png') no-repeat, /* top left */
    url('/resource-packs/pack-osrs-dark/button/world_map_metal_corner_top_right.png') no-repeat, /* top right */
    url('/resource-packs/pack-osrs-dark/button/world_map_metal_corner_bottom_left.png') no-repeat, /* bottom left */
    url('/resource-packs/pack-osrs-dark/button/world_map_metal_corner_bottom_right.png') no-repeat,  /* bottom right */
    url('/resource-packs/pack-osrs-dark/button/world_map_edge_top.png') repeat-x, /* top */
    url('/resource-packs/pack-osrs-dark/button/world_map_edge_left.png') repeat-y, /* left */
    url('/resource-packs/pack-osrs-dark/button/world_map_edge_right.png') repeat-y, /* right */
    url('/resource-packs/pack-osrs-dark/button/world_map_edge_bottom.png') repeat-x, /* bottom */
    url('/resource-packs/pack-osrs-dark/dialog/background.png'); /* body */
    background-position: top left,
    top right,
    bottom left,
    bottom right,
    top 0 left,
    left 0 top 10px,
    right,
    bottom,
    center;

    image-rendering: pixelated;
}

.background-world-map:hover
{
    transition: all .2s ease-in;

    background: url('/resource-packs/pack-osrs-dark/button/world_map_metal_corner_top_left.png') no-repeat, /* top left */
    url('/resource-packs/pack-osrs-dark/button/world_map_metal_corner_top_right.png') no-repeat, /* top right */
    url('/resource-packs/pack-osrs-dark/button/world_map_metal_corner_bottom_left.png') no-repeat, /* bottom left */
    url('/resource-packs/pack-osrs-dark/button/world_map_metal_corner_bottom_right.png') no-repeat,  /* bottom right */
    url('/resource-packs/pack-osrs-dark/button/world_map_edge_top.png') repeat-x, /* top */
    url('/resource-packs/pack-osrs-dark/button/world_map_edge_left.png') repeat-y, /* left */
    url('/resource-packs/pack-osrs-dark/button/world_map_edge_right.png') repeat-y, /* right */
    url('/resource-packs/pack-osrs-dark/button/world_map_edge_bottom.png') repeat-x, /* bottom */
    url('/resource-packs/pack-osrs-dark/dialog/background_brighter.png'); /* body */
    background-position: top left,
    top right,
    bottom left,
    bottom right,
    top 0 left,
    left 0 top 10px,
    right,
    bottom,
    center;
}

.button-static
{
    width: 12rem;
    height: 4rem;
}

.collection-log-item
{
    position: relative;

    width: 80px;
    height: 80px;
    margin: 5px;

    white-space: nowrap;

    border: solid 2px;
}

.collection-log-item-counter
{
    position: absolute;
    top: 0;
    right: 0;

    width: 1.75rem;
    padding: .1em;

    text-align: center;
}

.faded
{
    opacity: .25;
}

.notification-icon
{
    border-right: solid 2px;
}

.icon-radio [type=radio]
{
    position: absolute;

    width: 0;
    height: 0;

    opacity: 0;
}

.icon-radio [type=radio] + img
{
    padding: 8px 8px 8px 8px;

    cursor: pointer;
}

.icon-radio [type=radio] + img:hover
{
    border-radius: 5px;
    background: #99855d;
}

.icon-radio [type=radio]:checked + img
{
    padding: 5px 5px 5px 5px;

    border: solid #755b41 3px;
    border-radius: 5px;
    background: #99855d;
}
