@font-face {
	font-family: 'runescape';
	src: url('fonts/runescape/runescape.eot');
	src: url('fonts/runescape/runescape.eot?#iefix') format('embedded-opentype'),
	url('fonts/runescape/runescape.woff') format('woff'),
	url('fonts/runescape/runescape.ttf') format('truetype'),
	url('fonts/runescape/runescape.svg') format('svg');
}

body, html {
	font-family: sans-serif;
	background: url('/images/background_2.png') no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

h1, h2, h3 {
	font-family: "runescape", sans-serif;
	text-align: center;
	font-weight: bold;
	color: #343a40;
}

h2, h3 {
	text-align: left;
}

a:link {color: #1e6dae;}
a:visited {color: #1e6dae;}
a:hover {color: black;}
a:active {color: black;}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: none;}

@media (min-width: 1200px) {
    .container {
        max-width: 1250px;
    }
}

.main-page:before, .main-page:after {
    background: url('/images/scroll_top.gif') no-repeat center top;
    content: '';
    height: 50px;
    left: 0;
    position: absolute;
    top: -11px;
    width: 100%;
}

.main-page:after {
    background: url('/images/scroll_bottom.gif') no-repeat center bottom;
    bottom: -11px;
    top: auto;
}

.main-page {
    background: url('/images/scroll_middle.gif') repeat-y top center;
    padding: 50px 75px;
    position: relative;
}

.main-page-header {
	margin: 0 auto;
	margin-top: 10px;
	padding: 0 15px 0 15px;
	width: 90%;
	background: #99855D;
	border: solid #755B41 3px;
	border-radius: 5px;
}

.main-page-body {
	margin: 0 auto;
	padding: 25px 50px 25px 50px;
	width: 765px;
}

.bottom {
	background: url('/images/scroll_bottom.gif');
	height: 50px;
	z-index: 1;
}

.latest-news {
	border-bottom: solid black 1px;
	padding: 20px 20px 20px 0px;
	transition: all .2s ease-in;
	height: 200px;
}

.latest-news:hover {
	background: rgba(0, 0, 0, 0.2);
}

.latest-news .content a:link {color: black;}
.latest-news .content a:visited {color: black;}
.latest-news .content a:hover {color: black;}
.latest-news .content a:active {color: black;}

.latest-news .content a:link {text-decoration: none;}
.latest-news .content a:visited {text-decoration: none;}
.latest-news .content a:hover {text-decoration: none;}
.latest-news .content a:active {text-decoration: none;}

.latest-news .date {
	text-align: center;
	float: left;
	margin: 0px 15px 0px 15px;

	width: 3em;
	text-align: center;
	display: block;
	height: 180px;
}

.latest-news .month {
	font-family: 'runescape', sans-serif;
	font-weight: bold;
	font-size: 2em;
}

.latest-news .day {
	font-family: 'runescape', sans-serif;
	font-weight: bold;
	font-size: 2em;
}

.latest-news .title {
	font-family: 'runescape', sans-serif;
	font-weight: bold;
	font-size: 2em;
	margin:  -5px;
}

.latest-news .title:hover {
	color: #666666;
}

.latest-news .meta {
	padding-bottom: 5px;
}

.member-body {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.member-box {
	background: url('/images/button.gif') no-repeat;
	background-position: center;
	padding: 10px 5px 0px 5px;
	width: 152px;
	height: 126px;
	margin-top: 10px;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	transition: width .5s, height .5s, padding .5s;
}

.member-box:hover {
	width: 172px;
	height: 146px;
	padding: 20px 5px 0px 5px;
}

.pixel {
	image-rendering: pixelated;
}

.profile-icon {
	background: #99855D;
	border: solid #755B41 3px;
	border-radius: 5px;
	padding: 5px 5px 5px 15px;
	text-align: center;
	float: left;
}

.profile-icon span {
	padding-right: 10px;
}

.icon-radio [type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.icon-radio [type=radio] + img {
	cursor: pointer;
	padding: 8px 8px 8px 8px;
}

.icon-radio [type=radio] + img:hover {
	background: #99855D;
	border-radius: 5px;
}

.icon-radio [type=radio]:checked + img {
	background: #99855D;
	border: solid #755B41 3px;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
}

.task-progress-body {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.task-box {
	background: #99855D;
	border-width: 3px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table td, table th {
	padding: 3px 5px;
	border-bottom: 1px solid black;
	min-width: 3rem;
	height: 55px;
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
}